* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
    font-family: sans-serif;
    background: #d3ffdd;
}

.container {
    margin: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
    height: 200px;
    width: 400px;
    border-radius: 5px;
    background: #ffffff;
}

.stage {
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    min-width: 1280px;
    height: 300px;
    border-radius: 5px;
    background: #ffffff;
}

.bar {
    position: absolute;
    height: 100px;
    transition: all 300ms ease-out;
    border-radius: 6px;
    background: #275425;
}

.bar.activate {
    transition-property: 0.3s;
    animation: upAndDownScale 1.5s ease-in-out;
    background: #ff4e4e;
}

.generate-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 12px;
    padding: 5px;
    height: 165px;
    width: 200px;
    font-size: 15px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.generate-new input {
    padding: 2px;
}

button {
    
    padding: 5px 16px;
    cursor: pointer;
    border-style: none;
    border-radius: 8px;
    color: #ffffff;
    background: #5fc159;
}

button:hover {
    background: #8ecc8b;
}

.select-algorithm, .select-array-type {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #e3ffe1;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    border: 1px solid #dddddd;
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tables {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    column-gap: 10px;
    height: 200px;
    border-radius: 5px;
    background: #ffffff;
}

.bottombar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    height: 200px;
    width: 1280px;
}

.sort-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 12px;
    padding: 5px;
    height: 165px;
    width: 200px;
    font-size: 15px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
